html {
    font-family: Lato;
  }
  
  #header {
    color: #16b089;
  }
  
  .container {
    max-width: 500px;
    position: absolute;
    top: 10%;
    left: 10%;
  }
  
  .main-container {
    padding: 10px;
    border-radius: 8px;
    background-color: #f2f2f2;
  }
  
  form {
    margin: 0 auto;
    width: 75%;
    padding: 10px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .message {
    opacity: 0.6;
    font-size: smaller;
    margin-top: 0;
    max-width: 90%;
  }
  
  input,
  textarea,
  select {
    width: 100%;
    padding: 0.8em;
    margin: 1em 0.2em;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0.8em;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    width: 70%;
    background-color: #16b089;
    color: white;
    padding: 14px 20px;
    margin-top: 20px;
    margin-left: 35px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: medium;
  }
  
  button[type="submit"]:hover {
    background-color: #043e28;
  }
  
  button[type="submit"]:disabled {
    background: #dddddd;
    cursor:no-drop;
  }

  #code {
    width: 9em;
  }

  #telefono {
    width: 50%;
  }